
.topmenu
{

    background-color : #f68428;
    text-align: center;
    padding: 12px;
    width: 100%;
    position: fixed;

}

.a {

    display: inline;
    font-size: 18px;
    color: white;
    width: auto;
    text-align: center;
    padding-right: 26px;

}

.backgrnd{
    
    background-color: blue;
    height: 800px;

}

.rax{

    background-color: orange;
    height: 500px;
    width: 700px;
    margin: auto;



}