/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.topmenu
{
    background-color : #f68428;
    text-align: center;
    padding: 12px;
    width: 100%;
    position: fixed;
    cursor: pointer;
    z-index: 1000;

}

.ab {

    display: inline;
    font-size: 18px;
    color: white;
    width: auto;
    text-align: center;
    padding-right: 26px;

}

.background{
    
    background-color: #90cbc1;
    height: 560px;
    margin: auto;
}

.rax{
    
    background-image: url("../img/fbknd.jpg");
    margin: auto;
    position: center;
    height: 560px;
    width: 960px;

}

.titlu{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: #f36f21;
    padding-top: 230px;
    padding-left: 450px;
    width: 510px;
}

.subtitlu{
    position:relative;
    font-size: 20px;
    color: white;
    padding-left: 530px;
    padding-top: 25px;

}

.white-container{
    height: 380px;
    width: 960px;
    margin: auto;
    background-color: white;
    position: relative;
    padding-bottom:50px;
}

.titlu-doi {
    margin:auto;
    position: relative;
    font-size:28px;
    color:orange;
    padding-top:30px;
    padding-left: 170px;
    width: 500px;
    top:40px;
}

.arrow {
    left: 850px;
    top: 0px;
    position: absolute;
}

.video-holder{
    background-image: url("../img/thumbnail.jpg");
    position : relative;
    height:160px;
    width:241px;
    margin-bottom: 30px;
    float:left;
    background-color: red;
    margin: 15px;
    top:60px;
}

.text-visuri{
    font-size: 20px;
    position:relative;
    padding-top: 80px;
    display:inline;
    top: 70px;
}

.orangecontainer{

    height:970px;
    background-color: #f68428;
    margin: auto;
    text-align: center;
    
}


.biocontainer{
    width:960px;
    margin: auto;
}

.titlu-trei{
    text-transform: uppercase;
    font-weight: bold;
    color :white;
    text-align: center;
    position: relative;
    padding-top: 50px;
    font-size: 40px;
}

.inaltatori{
    font-size: 30px;
    color: #fff;
    position: relative;
    padding-top: 60px;
    margin: auto;
    width: 960px;
    padding-bottom: 80px;
}

.speakercontainer{

    float:left;
    margin-left: 15px;
    width : 300px;
}

.kiterunner{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    border : 12px solid white;
    box-shadow: 0px 0px 30px 15px #000 inset;
    display: inline-block;
    position: relative;
    margin: auto;
}

.name{
    font-family: Oswald;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    display: inline;
    clear: both;
}


.textprofil{

    font-family: Oswald;
    color :white;
    font-size: 20px;
}

.clear{

    clear:both;
}
    

.andreiplesu{
    background-image: url("../img/andreiplesu.jpg");
}
.mirceatoma{
    background-image: url("../img/mirceatoma.jpg");
}
.adriansarbu{
    background-image: url("../img/adriansarbu.jpg");
}


.workshops{
    margin-top: 40px;
    padding:5px;
    height: 45px;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    background-color: #8fcbc1;
    clear:both;
    width: auto
}

.downarrow {
    position: relative;

}

.white-container2{

height: auto;
background-color:white;
display: block;
}

.indemn {
    background-color:;
    margin:auto;
    text-align: left;
    font-size: 18px;
    color: black;
    width: 950px;
}

.elemente{
    padding-top:40px;
    width:960px;
    margin:auto;
    background-color:white;
}

.bec{
    position: relative;
    float:left;
}

.industrii{
    float:left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 28px;
    text-transform: uppercase;    
}

.liniuta{
    margin-left: 20px;
    display:inline;
    margin-top:37px;
    float: left;
    position:relative;
    background-color: black;
    height: 1px;
}

.liniuta1{
    width: 580px;
}

.liniuta2{
    width: 800px;
}

.liniuta3{
    width: 718px;
}

.linie{
    margin-bottom:30px;
    margin-top: 50px;
    width:auto;
    height:1px;
    background-color: black;
}



.madalinaa{
    background-image: url("../img/madalinaa.png");
}
.adriano{
    background-image: url("../img/adriano.png");
}
.tudorg{
    background-image: url("../img/tudorg.png");
}

.industriiprofile{
    background-color:;
    margin: auto;
    width : 960px;
    height: auto;
}

.recipient{
    margin-top:10px;
    background-color:;
    display: inline-block;
    position:relative;
    width: 297px;
    height: auto;
    padding: 10px; 
}

.name2{
    padding-bottom: 10px;
    position:relative;
    font-family: Oswald;
    color: black;
    text-transform: uppercase;
    font-size: 26px;
}

.creativespeak{
    margin: auto;
    height: 225px;
    width: 225px;
    display: block;
    position: relative;
    border-radius: 50%;
}

.profiltext {
    margin: auto;
    position:relative;
    background-color:;
    padding-bottom: 10px;
    height: auto;
    width: 220px;
    text-align:left;
}

.workclass{
    background-color:;
    color: #f37022;
    width: 250px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom:10px;
    padding-left:40px;
    text-align: left;
}

.inscriere{
    cursor:pointer;
    margin-top: 45px;
    font-size: 18px;
    color:white;
    margin:auto;
    width: 250px;
    background-color:#f37022;
    display:inline;
    padding:10px;
}

.inscriere2{
    cursor:pointer;
    font-size: 25px;
    color:white;
    margin:auto;
    width: 280px;
    background-color:#f37022;
    padding-left:10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
}

.rarrow{
    margin-left:10px;
    }

    .eco{
        position:relative;
        float:left;
        margin-top: 20px;
        margin-bottom:20px;
    }
.soc{
   position:relative;
        float:left;
        margin-top: 14px;
}

.ptitle{
    padding-top: 40px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold
    color: black;
}

.text-container{
    height:300px;
    width:960px;
    background-color:#efefef;
}
.program-title{
    padding: 28px;
    font-size: 20px;
    font-weight: bold;
    position:relative;
    width:auto;
    color: black;
}
.program{
    font-size: 16px;
    margin-right: 50px;
    margin-left:50px;
    padding: 10px;
    margin-bottom: 20px;
}
.programline{
    height:370px;
    padding-bottom: 10px;
}
.workshop{
    margin-top:20px;
    display:inline;
    position:relative;
    padding-left: 0px;
    text-align: left;
    width: 480px;
    background-color:;
    float:left;
}
.ore{
    font-size: 20px;
    color: #6b6b6b;
}


.wtype{
    font-weight: bold;
}

.fullname{
    font-weight: bold;
    color:orange;
}

.cupa{
    padding-left: 12px;
    width: 20px;
    height: 25px;
}
.tagline{
    width: 100%;
    margin: auto;
    background-color:#f7f7f7;
}
.fbicon{
    border-radius:50%;
    cursor: pointer;
    margin-right: 30px;
    display: inline;
}
.playicon{
    border-radius:50%;
    cursor: pointer;
}

.orangediv{
    
    height: 50px;
    background-color: white;
    width: auto!important;
    display: block;
}
.orangediv2{
    
    height: 172px;
    background-color: #F37022;
    width: auto!important;
    display: block;
}

.footer{

    background-color:white;
    height: 83px;
}

.elemente2{
    padding-top: 400px;
    }
































































































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
